/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.about {
	background-image: url("../images/museum-back.jpg");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 5.3%;
	padding-top: 56%;
}

.about-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.proposal-button,
.prototype-button,
.UXreports-button {
	display: inline-block;
	font-size: 5.6vw;
	font-family: Judson, sans-serif;
	background-color: #FFF;
	border: 3px solid #B4C7F8;
	color: #1E1E1E;
	width: 40%;
	height: 8%;
	padding: 4px 0;
	cursor: pointer;
	text-align: center;
	align-content: center;
	text-decoration: none;
}

.about-home {
	margin-top: 144px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: auto;
}

.about-home-button {
	display: inline-block;
	font-size: 5.6vw;
	font-family: Judson, sans-serif;
	background-color: #B4C7F8;
	color: #000;
	width: 19%;
	height: 4%;
	border-radius: 12px;
	padding: 4px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

@media screen and (width >= 321px) {
	.about {
		padding-top: 35%;
		padding-bottom: 8%;
	}

	.about-main {
		gap: 60px;
	}

	.proposal-button,
	.prototype-button,
	.UXreports-button {
		font-size: 4.5vw;
		width: 32.5%;
		height: 8%;
	}

	.about-home {
		margin-top: 170px;
	}

	.about-home-button {
		font-size: 4.5vw;
		width: 19%;
	}
}

@media screen and (width >= 769px) {
	.about {
		padding-top: 256px;
		padding-bottom: 60px;
	}

	.about-main {
		gap: 40px;
	}

	.proposal-button,
	.prototype-button,
	.UXreports-button {
		font-size: 2.7vw;
		width: 250px;
		height: 80px;
		transition: background-color 0.3s ease, transform 0.3s ease;
	}

	.proposal-button:hover {
		background-color: #B4C7F8;
		font-size: 2.5vw;
	}

	.prototype-button:hover {
		background-color: #B4C7F8;
		font-size: 2.5vw;
	}

	.UXreports-button:hover {
		background-color: #B4C7F8;
		font-size: 2.5vw;
	}

	.about-home {
		margin-top: 153px;
	}

	.about-home-button {
		font-size: 27px;
		width: 107px;
	}
}