/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.title-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.title-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../images/orsay/orsaytitleback.jpg');
    background-size: cover;
    background-position-x: 40%;
    filter: blur(1px);
    transform: scale(1.1);
    z-index: -1;
}

a {
    color: #212529;
    background-color: #E2B898;
}

.subtitle-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 135px;
}

.subtitle-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../images/orsay/orsaytitleback.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    transform: scale(1.1);
    z-index: -1;
}

.museum-intro {
    background-color: #FFEBDC;
    padding: 2%;
    border-radius: 12px;
    margin-bottom: 0;
}

.collections-all {
    background-color: #F7ECE4;
}

.collections-title {
    color: #9B521B;
}

@media screen and (width <=320px) {
    .collections {
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .orsay1 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .orsay2 {
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }

    .orsay3 {
        grid-column: 2/span 1;
        grid-row: 1/span 2;
    }

    .orsay4 {
        grid-column: 1/span 1;
        grid-row: 3/span 2;
    }

    .orsay5 {
        grid-column: 2/span 1;
        grid-row: 3/span 1;
    }

    .orsay6 {
        grid-column: 2/span 1;
        grid-row: 4/span 1;
    }

    .orsay7 {
        grid-column: 1/span 1;
        grid-row: 5/span 1;
    }

    .orsay8 {
        grid-column: 2/span 1;
        grid-row: 5/span 1;
    }
}

.cityname {
    background-color: #FFD79C;
}

.citynote::after {
    content: "";
    background-color: #FFD79C;
}

.city2 {
    background-color: #FAFAFA;
}

@media screen and (width >=321px) {
    .subtitle-container::before {
        display: none;
    }

    .museumname {
        color: #431F03;
    }

    .collections {
        padding-bottom: 30px;
        display: grid;
        grid-template-rows: 1.8fr 1.6fr 1.6fr 1.8fr;
        grid-template-columns: 2.6fr 2.3fr 2.3fr;
    }

    .orsay1 {
        grid-column: 2/span 1;
        grid-row: 4/span 1;
    }

    .orsay2 {
        grid-column: 2/span 1;
        grid-row: 3/span 1;
    }

    .orsay3 {
        grid-column: 3/span 1;
        grid-row: 1/span 2;
    }

    .orsay4 {
        grid-column: 1/span 1;
        grid-row: 1/span 2;
    }

    .orsay5 {
        grid-column: 2/span 1;
        grid-row: 1/span 1;
    }

    .orsay6 {
        grid-column: 2/span 1;
        grid-row: 2/span 1;
    }

    .orsay7 {
        grid-column: 1/span 1;
        grid-row: 3/span 2;
    }

    .orsay8 {
        grid-column: 3/span 1;
        grid-row: 3/span 2;
    }

    .cityname {
        background-color: #FAFAFA;
    }

    .citynote {
        color: #000;
        background-color: #FFD79C;
        padding: 3px;
    }

    .city1,
    .city2 {
        background-color: #FAFAFA;
    }
}

@media screen and (width >=769px) {
    .museumname {
        color: #431F03;
    }

    .museum-intro {
        background-color: #FFEBDC;
        padding: 2vh;
        border-radius: 12px;
    }

    .collections-all {
        background-color: white;
    }

    .collections {
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .orsay1 {
        grid-column: 1/span 2;
        grid-row: 3/span 1;
    }

    .orsay2 {
        grid-column: 1/span 2;
        grid-row: 4/span 1;
    }

    .orsay3 {
        grid-column: 2/span 1;
        grid-row: 1/span 1;
    }

    .orsay4 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .orsay5 {
        grid-column: 1/span 2;
        grid-row: 5/span 1;
    }

    .orsay6 {
        grid-column: 1/span 2;
        grid-row: 2/span 1;
    }

    .orsay7 {
        grid-column: 1/span 1;
        grid-row: 6/span 1;
    }

    .orsay8 {
        grid-column: 2/span 1;
        grid-row: 6/span 1;
    }

    .citynote {
        color: black;
        background-color: #FFD79C;
        padding: 3px;
    }

    .city1,
    .city2 {
        background-color: #FAFAFA;
    }
}