/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

@media screen and (max-width: 320px) {
	.title-container {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 553px;
	}

	.title-container::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('../images/louvretitleback.jpg');
		background-size: cover;
		background-position: center;
		filter: blur(1px);
		transform: scale(1.1);
		z-index: -1;
	}

	a {
		color: white;
		background-color: #3976CE;
	}

	.subtitle-container {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 135px;
	}

	.subtitle-container::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('../images/louvretitleback.jpg');
		background-size: cover;
		background-position: center;
		opacity: 70%;
		transform: scale(1.1);
		z-index: -1;
	}

	.museum-intro {
		background-color: #E2EAFF;
		padding: 2%;
		border-radius: 12px;
		margin-bottom: 0;
	}

	.collections-all {
		background-color: #E8E8E8;
	}

	.collections {
		padding-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 100px 100px 150px 150px 150px 150px;
	}

	.louvre1 {
		grid-column: 1/span 3;
		grid-row: 1/span 1;
	}

	.louvre2 {
		grid-column: 1/span 3;
		grid-row: 2/span 1;
	}

	.louvre3 {
		grid-column: 4/span 3;
		grid-row: 1/span 2;
	}

	.louvre4 {
		grid-column: 1/span 6;
		grid-row: 3/span 1;
	}

	.louvre5 {
		grid-column: 1/span 2;
		grid-row: 4/span 1;
	}

	.louvre6 {
		grid-column: 3/span 4;
		grid-row: 4/span 1;
	}

	.louvre7 {
		grid-column: 1/span 4;
		grid-row: 5/span 1;
	}

	.louvre8 {
		grid-column: 5/span 2;
		grid-row: 5/span 1;
		object-position: top;
	}

	.louvre9 {
		grid-column: 1/span 2;
		grid-row: 6/span 1;
	}

	.louvre10 {
		grid-column: 3/span 4;
		grid-row: 6/span 1;
	}

	.cityname {
		background-color: #E2EAFF;
	}

	.citynote::after {
		content: "";
		background-color: #E2EAFF;
	}

	.city2 {
		background-color: #F1F7FF;
	}
}

@media screen and (min-width: 321px) and (max-width: 768px) {
	.title-container {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 872px;
	}

	.title-container::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('../images/louvretitleback.jpg');
		background-size: cover;
		background-position: center;
		filter: blur(1px);
		transform: scale(1.1);
		z-index: -1;
	}

	a {
		color: white;
		background-color: #3976CE;
	}

	.museumname {
		color: #222A4F;
	}

	.museum-intro {
		background-color: #E2EAFF;
		padding: 2%;
		border-radius: 12px;
		margin-bottom: 0;
	}

	.collections-all {
		background-color: #E8E8E8;
	}

	.collections {
		padding-bottom: 30px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 180px 160px 160px 180px 250px;
	}

	.louvre1 {
		grid-column: 1/span 1;
		grid-row: 2/span 1;
	}

	.louvre2 {
		grid-column: 1/span 2;
		grid-row: 1/span 1;
	}

	.louvre3 {
		grid-column: 3/span 1;
		grid-row: 1/span 2;
	}

	.louvre4 {
		grid-column: 1/span 2;
		grid-row: 5/span 1;
	}

	.louvre5 {
		grid-column: 3/span 1;
		grid-row: 3/span 2;
	}

	.louvre6 {
		grid-column: 1/span 1;
		grid-row: 3/span 1;
	}

	.louvre7 {
		grid-column: 2/span 1;
		grid-row: 4/span 1;
	}

	.louvre8 {
		grid-column: 3/span 1;
		grid-row: 5/span 1;
		object-position: top;
	}

	.louvre9 {
		grid-column: 2/span 1;
		grid-row: 2/span 2;
	}

	.louvre10 {
		grid-column: 1/span 1;
		grid-row: 4/span 1;
	}

	.citynote {
		color: white;
		background-color: #3976CE;
		padding: 3px;
	}

	.city1,
	.city2 {
		background-color: #F1F7FF;
	}
}

@media screen and (min-width: 769px) {
	.title-container {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 872px;
	}

	.title-container::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('../images/louvretitleback.jpg');
		background-size: cover;
		background-position: center;
		filter: blur(1px);
		transform: scale(1.1);
		z-index: -1;
	}

	a {
		color: white;
		background-color: #3976CE;
	}

	.museumname {
		color: #222A4F;
	}

	.museum-intro {
		background-color: #E2EAFF;
		padding: 2vh;
		border-radius: 12px;
		margin-bottom: 30px;
	}

	.collections {
		padding-bottom: 30px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 2fr 1fr 1fr 1.5fr 1fr 1fr 1fr;
	}

	.louvre1 {
		grid-column: 2/span 1;
		grid-row: 5/span 1;
	}

	.louvre2 {
		grid-column: 2/span 1;
		grid-row: 6/span 1;
	}

	.louvre3 {
		grid-column: 1/span 1;
		grid-row: 1/span 1;
	}

	.louvre4 {
		grid-column: 1/span 2;
		grid-row: 4/span 1;
	}

	.louvre5 {
		grid-column: 1/span 1;
		grid-row: 5/span 3;
	}

	.louvre6 {
		grid-column: 1/span 1;
		grid-row: 3/span 1;
	}

	.louvre7 {
		grid-column: 2/span 1;
		grid-row: 7/span 1;
	}

	.louvre8 {
		grid-column: 2/span 1;
		grid-row: 2/span 2;
		object-position: top;
	}

	.louvre9 {
		grid-column: 2/span 1;
		grid-row: 1/span 1;
	}

	.louvre10 {
		grid-column: 1/span 1;
		grid-row: 2/span 1;
	}

	.citynote {
		color: white;
		background-color: #3976CE;
		padding: 3px;
	}

	.city1,
	.city2 {
		background-color: #F1F7FF;
	}
}