/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.title-container {
	position: relative;
	overflow: hidden;
}

.title-container::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('../images/louvretitleback.jpg');
	background-size: cover;
	background-position: center;
	filter: blur(1px);
	transform: scale(1.1);
	z-index: -1;
}