/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.map-page {
    background-image: url("../images/museum-back.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    padding-top: 80px;
}

.map-title {
    margin-bottom: 0;
    font-size: 6vw;
    font-family: Judson, sans-serif;
    text-align: center;
}

.map-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/Map.png");
    width: 280px;
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

a img {
    max-width: 20px;
    max-height: 20px;
}

.russia-button,
.germany-button,
.italy-button,
.vatican-button,
.netherlands-button,
.france-button,
.uk-button,
.spain-button,
.greece-button {
    border: none;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
}

.italy-button,
.netherlands-button,
.vatican-button,
.greece-button {
    font-family: Judson, sans-serif;
    color: #000;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
}

.greece-button {
    grid-column: 6 /span 1;
    grid-row: 9 /span 1;
    margin-top: 5px;
}

.spain-button {
    grid-column: 2 /span 1;
    grid-row: 9 /span 1;
    margin-bottom: 50px;
}

.uk-button {
    grid-column: 3 /span 1;
    grid-row: 5 /span 1;
}

.france-button {
    grid-column: 3 /span 1;
    grid-row: 8 /span 1;
    margin-left: 20px;
}

.netherlands-button {
    grid-column: 3 /span 1;
    grid-row: 6 /span 1;
    margin-left: 20px;
}

.vatican-button {
    grid-column: 4 /span 1;
    grid-row: 9 /span 1;
}

.italy-button {
    grid-column: 4 /span 1;
    grid-row: 8 /span 1;
    margin-top: 20px;
    margin-right: 20px;
}

.russia-button {
    grid-column: 7 /span 1;
    grid-row: 3 /span 1;
}

.germany-button {
    grid-row: 6 /span 1;
    grid-column: 4 /span 1;
}

.map-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: auto;
    margin-top: 40px;
}

.map-home {
    display: inline-block;
    font-size: 4.5vw;
    font-family: Judson, sans-serif;
    background-color: #F8D7DA;
    color: #000;
    width: 26%;
    height: 4%;
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

@media screen and (width >=321px) {
    .map-page {
        padding-top: 65px;
        padding-bottom: 25px;
    }

    .map-title {
        margin: 0;
    }

    .map-container {
        margin-top: 10px;
        width: 550px;
        height: 550px;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(13, 1fr);
    }

    a img {
        max-width: 45px;
        max-height: 45px;
    }

    .italy-button,
    .netherlands-button,
    .vatican-button,
    .greece-button {
        font-size: 12px;
    }

    .greece-button {
        grid-column: 7 /span 1;
        grid-row: 11 /span 1;
    }

    .spain-button {
        grid-column: 3 /span 1;
        grid-row: 11 /span 1;
    }

    .uk-button {
        grid-column: 3 /span 1;
        grid-row: 8 /span 1;
    }

    .france-button {
        grid-column: 4 /span 1;
        grid-row: 10 /span 1;
    }

    .netherlands-button {
        grid-column: 4 /span 1;
        grid-row: 9 /span 1;
    }

    .vatican-button {
        grid-column: 6 /span 1;
        grid-row: 11 /span 1;
    }

    .italy-button {
        grid-column: 5 /span 1;
        grid-row: 10 /span 1;
    }

    .russia-button {
        grid-column: 9 /span 1;
        grid-row: 4 /span 1;
    }

    .germany-button {
        grid-row: 9 /span 1;
        grid-column: 5 /span 1;
    }

    .map-home-container {
        margin-top: 30px;
    }
}

@media screen and (width >=769px) {
    .map-page {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        height: 832px;
    }

    .map-title {
        grid-column: 2/span 3;
        grid-row: 5/span 3;
        font-size: 40px;
    }

    .map-container {
        grid-column: 6 /span 6;
        grid-row: 3 /span 8;
        width: 696px;
        height: 696px;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(14, 1fr);
    }

    a img {
        max-width: 50px;
        max-height: 50px;
    }

    .italy-button,
    .netherlands-button,
    .vatican-button,
    .greece-button {
        font-size: 13px;
    }

    .greece-button {
        grid-column: 7 /span 1;
        grid-row: 12 /span 1;
        margin-left: 10px;
    }

    .spain-button {
        grid-column: 2 /span 1;
        grid-row: 12 /span 1;
        margin-bottom: 10px;
    }

    .uk-button {
        grid-column: 3 /span 1;
        grid-row: 8 /span 1;
        margin-left: 10px;
    }

    .france-button {
        grid-column: 4 /span 1;
        grid-row: 10 /span 1;
        margin-right: 40px;
    }

    .netherlands-button {
        grid-column: 4 /span 1;
        grid-row: 9 /span 1;
        z-index: 1;
    }

    .vatican-button {
        grid-column: 6 /span 1;
        grid-row: 12 /span 1;
    }

    .italy-button {
        grid-column: 5 /span 1;
        grid-row: 11 /span 1;
    }

    .russia-button {
        grid-column: 9 /span 1;
        grid-row: 4 /span 1;
    }

    .germany-button {
        grid-row: 9 /span 1;
        grid-column: 5 /span 1;
        margin-left: 15px;
    }

    .spain-button:hover {
        filter: hue-rotate(250deg);
    }

    .uk-button:hover {
        filter: hue-rotate(250deg);
    }

    .netherlands-button:hover {
        filter: hue-rotate(250deg);
    }

    .france-button:hover {
        filter: hue-rotate(250deg);
    }

    .germany-button:hover {
        filter: hue-rotate(250deg);
    }

    .italy-button:hover {
        filter: hue-rotate(250deg);
    }

    .greece-button:hover {
        filter: hue-rotate(250deg);
    }

    .vatican-button:hover {
        filter: hue-rotate(250deg);
    }

    .russia-button:hover {
        filter: hue-rotate(250deg);
    }

    .map-home-container {
        grid-column: 2 /span 3;
        grid-row: 9 /span 1;
        margin-left: auto;
        margin-right: auto;
    }

    .map-home {
        font-size: 30px;
        width: 170px;
        height: auto;
    }
}