/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-family: 'Bodoni Moda', sans-serif;
    font-size: 16vw;
}

h2 {
    font-size: 6.5vw;
}

.scroll-signifier {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-down {
    color: white;
    font-family: 'Judson', sans-serif;
    margin-bottom: 5px;
}

.down {
    background-color: transparent;
    max-width: 5%;
}

a {
    text-decoration: none;
    font-family: 'Judson', sans-serif;
}

ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
}